- content_for :page_title do
  = Spree.t(:order_counts_for_last_n_days, counts: counts.size)


- content_for :page_actions do
  %li
    = link_to_with_icon 'arrow-left', Spree.t(:back_to_reports_list), spree.admin_reports_url, :class => 'button'

%div#sales_total
  %table.admin-report{'data-hook' => "days_order_count"}
    %thead
      %tr
        %th.sort{'data-sort' => 'name'}
          = Spree.t(:date)
        %th.sort{'data-sort' => 'quantity'}
          = Spree.t(:quantity)
    %tbody.list
      - counts.each do |count|
        %tr.align-center
          %td.date
            = count[:date].strftime("%A, %b %d")
          %td.quantity
            = count[:count]
