- content_for :page_title do
  = Spree.t(:total_sales_of_each_product)

- content_for :page_actions do
  %li
    = link_to_with_icon 'arrow-left', Spree.t(:back_to_reports_list), spree.admin_reports_url, :class => 'button'

- content_for :table_filter_title do
  = Spree.t(:date_range)

- content_for :table_filter do
  = form_tag spree.total_sales_of_each_product_admin_reports_path do
    %div.date-range-filter.field.align-center
      = label_tag nil, Spree.t(:start), class: 'inline'
      = text_field_tag :created_at_gt, datepicker_field_value(params[:created_at_gt]), class: 'datepicker datepicker-from'
      %span.range-divider
        %i.fa.fa-arrow-right
        = text_field_tag :created_at_lt, datepicker_field_value(params[:created_at_lt]), class: 'datepicker datepicker-to'
        = label_tag nil, Spree.t(:end), class: 'inline'
    %div.actions.filter-actions
      = button Spree.t(:search), 'search'

%div#sales_total
  %div.field.align-center
    = label_tag 'Search by SKU:'
    = text_field_tag 'search', '', class: 'search'
  %table.admin-report{'data-hook' => "sales_total"}
    %thead
      %tr
        %th.sort{'data-sort' => 'name'}
          = Spree.t(:variant_name)
        %th.sort{'data-sort' => 'sku'}
          = Spree.t(:variant_sku)
        %th.sort{'data-sort' => 'quantity'}
          = Spree.t(:quantity)
        %th.sort{'data-sort' => 'sales'}
          = Spree.t(:sales_total)
    %tbody.list
      - @variants.each do |row|
        %tr.align-center
          %td.name
            = row[:name]
          %td.sku
            = row[:sku]
          %td.quantity
            = row[:quantity]
          %td.sales
            = row[:total_price]
